body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
}




/* ===========================================TABLE=========================== */

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/* ===========================================TABLE=========================== */
/* ===========================================LOGIN=========================== */

#login-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-button:hover {
    background-color: #45a049;
}


/* ===========================================LOGIN=========================== */


/* ===========================================LOGIN PAGE=========================== */




/* ===========================================LOGIN PAGE=========================== */