body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black ;
}

header {
    /* background-color: #d3c30e; */
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
}




/* ===========================================TABLE=========================== */

table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


/* ===========================================TABLE=========================== */
/* ===========================================LOGIN=========================== */

#login-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

#login-button:hover {
    background-color: #45a049;
}


/* ===========================================LOGIN=========================== */



/* ============================================carousel============================================ */



.carousel-container {
    position: relative;
    max-width: 1800px;
    max-height: 301px;
    margin: auto;
    overflow: hidden;
  }

  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  } 





/* ============================================carousel============================================ */